:root {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: linear-gradient(90deg, rgba(101,173,233,1) 0%, rgba(203,34,251,1) 51%, rgba(27,172,238,1) 100%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
}

.presentation-header{
  width: 80rem;
  display:block;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}
h1 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
  font-size: 10rem;
  line-height: 1.1;
  margin: 50px;
  
}



.hanoi-tower-rules-and-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  

}


.hanoi-tower-rules-and-info p {
  width: 70rem;
  margin-left: 50px;
  margin: 5px;
}

.solve-section {
  width: 100%; 
  max-width: 1100px; 
  height: 50px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.solve-section h4{
  width: 30%; 
  max-width: 1100px; 
  height: auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.solve-select {
  width: 100%; 
  max-width: 300px; 
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 10px;

}

select {
  cursor: pointer;
  width: 100%; 
  max-width: 100%;
  height: auto; 
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 1em; 
}
.select-classic {
  position: relative;
  width: 100%;
  max-width: 200px; 
}

.resolve-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resolve-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff00d4,
    #0400ff,
    #ff0095,
    #7403be,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}



.resolve-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.towers {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 70rem; 
  width: 100%; 
  height: auto; 
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.tower {
  width: 100%; 
  max-width: 20rem; 
  min-width: 15rem; 
  height: auto; 
  min-height: 30rem;
  border: 5px solid rgb(10, 10, 10);
  background: rgb(240, 236, 236);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding: 10px;
}


.disk {
  height: 50px;
  margin: 5px 0;
  background-color: rgb(18, 100, 133);
  text-align: center;
  line-height: 50px; 
  color: white;
}

.moves-display{

    width: 500px; 
    height: 300px; 
    overflow: auto; 

  
  
}
.moves-container{
  width: auto;
  padding: 20px;
  padding-bottom: 100px;
}


@media (min-width: 768px) {
  .solve-section {
    flex-direction: row; 
    justify-content: space-between; 
  }

  .solve-select {
    max-width: none;
  }
}


@media (max-width: 768px) {
  .towers {
    flex-direction: column; 
    align-items: stretch;
  }
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}